@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face{
  font-family: 'NotoSansKR';
  font-weight: 400;
  font-style:normal;
  src:url('/fonts/NotoSansKR-Regular.otf');
}
@font-face{
  font-family: 'NotoSansKR';
  font-weight: 500;
  font-style:medium;
  src:url('/fonts/NotoSansKR-Medium.otf');
}

@font-face{
  font-family: 'NotoSansKR';
  font-weight: 700;
  font-style:bold;
  src:url('/fonts/NotoSansKR-Bold.otf');
}

body{
  font-family: 'NotoSansKR'  
} */

/* hide arrow in input:number */
@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .markdown h1{
    @apply text-blue-500 text-2xl font-bold py-5
  }

  .markdown h3{
    @apply text-xl text-gray-500
  }

  .markdown p {
    @apply py-5 w-96
  }
  
  .markdown ul{
    @apply font-semibold
  }